body {
  margin: 0;
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  height: 110px;
  background-color: #002c69;
  ;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  height: 100%;
  background: #002c69;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

nav>ul>li>a {
  display: block;
  line-height: 40px;
  color: white;
  font-size: 15px;
  padding: 0 36px;
}

.container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(225, 229, 235)
}

main {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

aside {
  background-color: #d6dbe2;
  padding: 10px;
  flex: 0 0 200px;
}

.footer {
  background-color: #ddd;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}


.spacer {
  width: 100%;
  height: 95px;
}

img {

  height: 600px;
  width: 100%;
}

aside>ul>li>a {
  color: #333;
}

aside>ul>li {
  color: #333;
}

p {
  color: rgb(105, 105, 105);
}

h1,
h2 {
  margin: 20px;
}

h3,
h4 {
  color: rgb(39, 39, 39);
}